# file: .gitignore
#
# 2014-09-15 http://fabic.net/

# vim swap files
.*.sw?
*~
*.o

# JetBrains' IntelliJ & al.
/.idea/

#*.sublime-project
*.sublime-workspace

# Generated Doxygen documentation :
/doc/doxygen*/

# All upper-cased build sub-directories :
BUILD/

# Our "/usr/local/"-like dir. where stuff get installed :
/local/

# LLVM out-of-source build dirs. :
llvm-clang/build*/
llvm-clang/bootstrap*/

/tmp/
