# file: .gitignore
#
# 2014-09-15 http://fabic.net/

# vim swap files
.*.sw?
*~

*.o

/.idea/
#*.sublime-project
*.sublime-workspace

# Our "/usr/local/"-like dir. where stuff get installed,
# and bootstrap/ :
/bootstrap/
/local/

# LLVM out-of-source build dirs. :
/build*/

/tmp/
