[submodule "gnu-binutils"]
	path = misc/binutils
	url = git://sourceware.org/git/binutils-gdb.git
[submodule "gnu-gcc"]
	path = misc/gcc
	url = git@github.com:gcc-mirror/gcc.git
[submodule "gnu-glibc"]
	path = misc/glibc
	url = git://sourceware.org/git/glibc
	branch = origin/release/2.20/master
[submodule "llvm"]
	path = llvm
	url = git@github.com:llvm-mirror/llvm.git
[submodule "clang"]
	path = clang
	# My fork :
	url = git@github.com:fabic/clang.git
	# Upstream :
	#url = git@github.com:llvm-mirror/clang.git
[submodule "clang-tools-extra"]
	path = clang-tools-extra
	url = git@github.com:llvm-mirror/clang-tools-extra.git
[submodule "libcxx"]
	path = libcxx
	url = git@github.com:llvm-mirror/libcxx.git
[submodule "libcxxabi"]
	path = libcxxabi
	url = git@github.com:llvm-mirror/libcxxabi.git
[submodule "lldb"]
	path = lldb
	url = git@github.com:fabic/lldb.git
[submodule "lld"]
	path = lld
	url = git@github.com:llvm-mirror/lld.git
[submodule "compiler-rt"]
	path = compiler-rt
	url = git@github.com:llvm-mirror/compiler-rt.git
[submodule "test-suite"]
	path = test-suite
	url = git@github.com:llvm-mirror/test-suite.git
[submodule "musl-libc"]
	path = musl
	url = git://git.musl-libc.org/musl
[submodule "libunwind"]
	path = libunwind
	url = git://git.sv.gnu.org/libunwind.git
# @link https://github.com/Andersbakken/rtags
[submodule "andersbakken-rtags"]
	path = misc/rtags
	url = git@github.com:Andersbakken/rtags.git
[submodule "loarabia-clang-tutorial"]
	path = misc/clang-tutorial
	url = git@github.com:loarabia/Clang-tutorial.git
[submodule "cmake"]
	path = misc/cmake
	url = git://cmake.org/cmake.git
	branch = release
[submodule "boostcgi"]
	path = misc/boostcgi
	url = git@github.com:darrengarvey/cgi.git
[submodule "odb_orm_compiler"]
	path = misc/odb_orm/odb
	url = git://scm.codesynthesis.com/odb/odb.git
[submodule "odb_orm_libodb"]
	path = misc/odb_orm/libodb
	url = git://scm.codesynthesis.com/odb/libodb.git
[submodule "odb_orm_libodb_mysql"]
	path = misc/odb_orm/libodb-mysql
	url = git://scm.codesynthesis.com/odb/libodb-mysql.git
[submodule "symfony-std"]
	path = php/symfony-std
	url = git@github.com:symfony/symfony-standard.git
[submodule "yaml-cpp"]
	path = misc/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
[submodule "linux-kernel"]
	path = misc/linux-kernel
	url = git://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git
	branch = linux-4.2.y
[submodule "xf86-video-nouveau"]
	path = misc/xf86-video-nouveau
	url = git://anongit.freedesktop.org/nouveau/xf86-video-nouveau
[submodule "linice"]
	path = misc/vturbine-linice
	url = git@github.com:vTurbine/linice.git
